h1
{
    margin: auto;
}

input.numero, input.name, input.morada, input.idade
{
    position:absolute;
    left:95px;
}

fieldset.index
{
  width:300px;
  height:300px;
}
fieldset.adicionar
{
  width:300px;
  height:300px;
}

table 
{
    border: none;
    background:white;
    border-collapse: collapse;
}


